.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid gray;
}
.item .shoeImg {
  width: 80px;
  height: 60px;
}
.item .deleteIcon {
  width: 26px;
  height: 26px;
}
.item .price {
  font-weight: bold;
  font-size: 1.2rem;
}
.item .title {
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .item .price {
    font-weight: bold;
    font-size: 0.8rem;
  }
  .item .title {
    font-size: 0.8rem;
  }
  .item .shoeImg {
    width: 60px;
    height: 40px;
  }
  .item .deleteIcon {
    width: 18px;
    height: 18px;
  }
}
