.modalLoading {
  position: fixed;
  top: 25vh;
  left: 25%;
  width: 50%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
}
.modalOrdered {
  position: fixed;
  top: 25vh;
  left: 25%;
  width: 50%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
}
.modal label span {
  display: block;
}

.modalOrdered img {
  width: 120px;
  height: 120px;
  animation: bump 750ms ease-out;
}
.modal .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
}
.modal .items {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 200px;
  max-height: 250px;
  overflow-y: scroll;
  margin: 0 1rem;
}
.modal .formInputs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.modal .formInputs label {
  margin: 0.5rem 1rem;
}
.modal .formInputs label span {
  font-size: 1rem;
  font-weight: 500;
}
.modal .formInputs label input {
  height: 1.2rem;
  border: 1px solid black;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
.modal .summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-top: 2px solid gray; */
  padding: 0.5rem 2rem;
}
.modal .summary p {
  font-size: 1.2rem;
  font-weight: bold;
}
.modal .summary button {
  background-color: black;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 3rem;
  border: none;
  font-size: 1.2rem;
}
.emptyCart {
  text-align: center;
}
.emptyCart img {
  margin-bottom: 0;
  width: 250px;
  height: 200px;
}
.emptyCart h3 {
  margin-top: 0;
  font-size: 2rem;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}
.modal {
  position: fixed;
  top: 25vh;
  left: 25%;
  width: 50%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}
.modal .items .cart-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid gray;
}
.modal .items .cart-item .shoeImg {
  width: 80px;
  height: 60px;
}
.cart-item .deleteIcon {
  width: 26px;
  height: 26px;
}
.modal .items .cart-item .price {
  font-weight: bold;
  font-size: 1.2rem;
}
.modal .items .cart-item .title {
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 5;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
  }
  .modal {
    position: fixed;
    left: 0;
    width: 90%;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
  }
  .modal .summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-top: 2px solid gray; */
    padding: 0.3rem 1rem;
  }
  .modal .summary p {
    font-size: 0.8rem;
    font-weight: bold;
  }
  .modal .summary button {
    background-color: black;
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 0.8rem;
  }
  .modalLoading h2 {
    font-size: 1rem;
  }
  .modalOrdered h2 {
    font-size: 1rem;
  }
  .modal .items .cart-item .price {
    font-weight: bold;
    font-size: 0.8rem;
  }
  .modal .items .cart-item .title {
    font-size: 0.8rem;
  }
  .modal .items .cart-item .shoeImg {
    width: 60px;
    height: 40px;
  }
  .modal .items .cart-item .deleteIcon {
    width: 18px;
    height: 18px;
  }
}
