.shoesList {
  margin: 2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  animation: meals-appear 1s ease-out forwards;
}
@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
